* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Poppins", "Roboto", serif;
    /* color: #f3e8e0; */
    color: #201E20;  /* цвет шрифта */
}
.backgroung_video {
    position: fixed;
    display: block;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* чтобы покрывать всю площадь без искажения */

    z-index: -1;
}

.containers {
    position: relative;
    display: flex;
    flex-wrap: wrap; /* перенос по необходимости */

    width:100%;
    height: 95vh;

    /* background-color: rgba(0, 255, 110); */
}

.more {
    display: flex;
    justify-content: center; /* по центру по горизонтали */
    place-items: center; /* по центру по вертикали */
    z-index: 2;
    height: 5vh;
}
.scrollDownBtn {
    cursor: pointer;
    z-index: 2;

    height: 5vh;
    padding: 1px 30px;
    background: rgba(255, 149, 204, 0); /* прозрачный фон */
    opacity: 0.5;

    transform: scale(1);
    transition: all 1s ease;
}
.scrollDownBtn:hover{
    font-size: 0.9em;
}

.heading {
    display: flex;
    width: 65%;
    height: 35%;
    font-size: 4em;
    font-weight: 600;

    place-items: center; /* по центру по вертикали */
    /* justify-content: center; по центру по горизонтали */

    /* background-color: rgba(255, 0, 0) */
}
.heading-content {
    padding-left: 6%;
}

.description {
    display: flex;
    width: 65%;
    height: 65%;
    font-size: 1em;

    /* background-color: rgb(255, 255, 0) */
}
.description-content {
    padding: 10% 5% 5% 5%;
}

.button_download {
    position: absolute;
    display: flex;

    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    place-items: center; /* по центру по вертикали */
    justify-content: center; /* по центру по горизонтали */

    /* background-color: rgb(86, 37, 209) */
}

.download {
    padding: 1.25em 2em;
    width: 125px;
    scale: 2;

    cursor: pointer;
    z-index: 2;

    background: rgba(255, 149, 204, 0.15); /* полупрозрачный фон */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 4px 15px rgba(0, 0, 0, 0.2); /* добавляем немного тени и внутреннего свечения */
    border-radius: 20px;
    color: #e3dcd6;

    transform: scale(1);
    transition: all 1s ease;
}
/* при наведении */
.download:hover {
    /* background: linear-gradient(to left, rgba(255, 46, 92, 0.1), rgba(253, 233, 119, 0.2)); */
    background: rgba(255, 69, 94, 0.15);
    transform: scale(1.05); /* увеличение размера */
}
/* при нажатии (тактильный отклик) */
.download:active {
    transform: scale(0.85); /* резкое уменьшение для эффекта "отпечатка" */
    transition: transform 0.1s ease; /* быстрое изменение масштаба */
}

.info-box {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap; /* перенос по необходимости */

    width: 80%;
    margin: 50px auto 60px auto;
    padding: 40px 100px;
    
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 4px 15px rgba(0, 0, 0, 0.2); /* добавляем немного тени и внутреннего свечения */

    z-index: 2;
}
.info-box h2 {
    display: flex;
    justify-content: center; /* по центру по горизонтали */
    height: 50px;
    width: 100%;
}

.images {
    display: flex;              /* Используем flexbox для расположения элементов */
    justify-content: center;    /* Центрируем по горизонтали */
    align-items: center;        /* Центрируем по вертикали, если нужно */
    
    margin-top: 40px;
    width: 100%;        /* Иначе не работате центрирование по горизонтали */
    gap: 60px;            /* Расстояние между изображениями */

    /* background-color: aqua; */
}

@media(min-width: 1270px) {
    .heading {
        font-size: 6em;
    }
}

@media(max-width: 1270px) {
    .info-box {
        text-align: center;

        width: 85%;
        padding: 40px 20px;
    }

    .images {
        gap: 30px;
    }
    .image_1 {
        width: 30vh;
    }
    .image_2 {
        width: 30vh;
    }
}

@media(max-width: 1000px) {
    .images {
        margin: 20px 20px 0px 20px;
    }
    .image_1 {
        width: 50%;
    }
    .image_2 {
        width: 50%;
    }
}

@media(max-width: 768px) {
    .containers {
        flex-direction: column;
    }
    .heading {
        height: 25%;
        width: 100%;
        justify-content: center; /* по центру по горизонтали */
    }
    .description {
        height: 50%;
        width: 100%;
        font-size: 1em;

        place-items: center; /* по центру по вертикали */
        justify-content: center; /* по центру по горизонтали */
    }
    .button_download{
        position: static;
        height: 25%;
        width: 100%;
    }
    .download{
        scale: 1.3;
    }
    .images {
        flex-direction: column;  /* картинки друг под другом */
        gap: 10px;
    }
    .image_1 {
        width: 50%;
    }
    .image_2 {
        width: 50%;
    }
    .info-box {
        margin: 50px auto 40px auto;
    }
}

@media(max-width: 650px) {
    .heading {
        font-size: 3em;
    }

    .image_1 {
        width: 60%;
    }
    .image_2 {
        width: 60%;
    }
    .info-box {
        margin: 50px auto 20px auto;
    }
}

@media(max-width: 500px) {
    .heading {
        font-size: 2.5em;
    }
    .description {
        font-size: 0.9em;
    }

    .image_1 {
        width: 70%;
    }
    .image_2 {
        width: 70%;
    }
    .info-box {
        margin: 50px auto 10px auto;
    }
}